name: Deploy to PythonAnywhere
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Reload PythonAnywhere Web App
        run: |
          curl -X POST \
            https://www.pythonanywhere.com/api/v0/user/Mikhail55/webapps/Mikhail55.pythonanywhere.com/reload/ \
            -H "Authorization: Token ${TOKEN}"
        env:
          TOKEN: ${{ secrets.PYTHONANYWHERE_API_TOKEN }}
